<header>
    </div>
    <a>This page is about all my projects</a>
    <h4>Click on their name to see the GitHub repo</h4>
    <br/>
    <div>
      <img class=".imgcenter" src="https://cdn.discordapp.com/attachments/644106345397747713/645389628387360768/301944176321211.png">
    </div>
</header>

<body>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/Nyx">Nyx</a>
    <h3>A try to make an easy and useful lib to parse things</h3>
    <h3>Language : C++</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/ClassCreatorGeneric">ClassCreator Generic</a>
    <h3>Trying to extend classCreator concept to other languages</h3>
    <h3>Language : C++</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/RemBot">Rem Bot</a>
    <h3>This is a project to learn how to make discord bots</h3>
    <h3>Language : C#</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/AmayaWebsite">AmayaWebsite</a>
    <h3>This website</h3>
    <h3>Made with : Ruby On Rails 6</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/ClassCreator">ClassCreator</a>
    <h3>Generate project base for C++ with any level of inheritance</h3>
    <h3>Language : C++</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/ClassCreatorBaby">ClassCreator Baby</a>
    <h3>Generate project base for C++, recommended version for beginers in C++</h3>
    <h3>Language : C++</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/ClassCreatorBasic">ClassCreator Basic</a>
    <h3>Generate basic project base for C++</h3>
    <h3>Language : C++</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/Waifu">Waifu</a>
    <h3>This is a little website to promote artists i like, click on the girl to go on the website</h3>
    <h3>Made with : Ruby On Rails 6</h3>
    <a href="https://waifupics.herokuapp.com/">
      <img class=".imgcenter" src="https://cdn.discordapp.com/attachments/644106345397747713/644118745593282570/output-onlinepngtools.png">
    </a>
  </div>

</body>

<footer>
  <br/><br/>
  <div class="main" id="section2">
    <a href="#section1" class="button2">Top</a>
  </div>
  <br>
</footer>