<header>
  <img class=".imgcenter" src="https://cdn.discordapp.com/attachments/644106345397747713/644160421632278528/031d1c30843683ff843a9fd52b5b5796.png"/>
</header>

<body>
  <h2>This is my personal website, I'll update it often to present my personal project</h2>
  <h2>I do some personal projects on my free time, you can find my github here</h2>
    <a href="https://github.com/AmayaHena">
    <img class=".imgcenter" src="https://cdn.discordapp.com/attachments/644106345397747713/644146406294159411/output-onlinepngtools_1.png">
    </a>
  <h2>I am currently student at Epitech, I am a software developper</h2>
  <h2>If you want to learn more about me you can click on about, just above</h2>
  <h2>You can find a list of all my personal projects by clicking on project button above</h2>
</body>

<footer>
  <br/><br/>
  <div class="main" id="section2">
    <a href="#section1" class="button2">Top</a>
  </div>
  <br>
</footer>