<header>
  <img class=".imgcenter" src="https://cdn.discordapp.com/attachments/644106345397747713/644160421632278528/031d1c30843683ff843a9fd52b5b5796.png"/>
</header>

<body>
  <h2>This is my website, I'll update it often to present my projects</h2>
  <h2>I do some personal projects in my free time, you can find my GitHub here</h2>
    <a href="https://github.com/AmayaHena">
    <img class=".imgcenter" src="https://cdn.discordapp.com/attachments/644106345397747713/644146406294159411/output-onlinepngtools_1.png">
    </a>
  <h2>I am currently a student at Epitech, I am a software developer</h2>
  <h2>To discover me you can click on buttons above, works, about, and career</h2>
</body>

<footer>
  <br/><br/>
  <div class="main" id="section2">
    <a href="#section1" class="button2">Top</a>
  </div>
  <br/>
</footer>