<header>
  <img class=".imgcenter" src="https://i.pinimg.com/originals/03/1d/1c/031d1c30843683ff843a9fd52b5b5796.png"/>
</header>

<body>
  <h2>This is my personal website, i'll update it often to present my personal project</h2>
  <h2>I'm currently student at Epitech</h2>
  <h2>I do a lot of personal projects on my free time</h2>
</body>


<footer>
  <div class="main" id="section2">
    <a href="#section1" class="button2">Top</a>
  </div>
</footer>