<header>
  <img class=".imgcenter" src="https://cdn.discordapp.com/attachments/644106345397747713/644160421632278528/031d1c30843683ff843a9fd52b5b5796.png"/>
</header>

<body>
  <h2>This is my personal website, I'll update it often to present my personal project</h2>
  <h2>I do some personal projects on my free time, you can find my github here</h2>
    <a href="https://github.com/AmayaHena">
    <img class=".imgcenter" src="https://cdn.discordapp.com/attachments/644106345397747713/644146406294159411/output-onlinepngtools_1.png">
    </a>
  <h2>I am currently student at Epitech, I am a software developper</h2>
  <h2>If you want to learn more about me you can click on about, just above</h2>
  <h2>You can find a list of all my personal projects downside, click on their name to see the github repo</h2>
</body>

<body>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/RemBot">RemBot</a>
    <h3>This is a project to learn how to make discord bots</h3>
    <h3>Language : C#</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/AmayaWebsite">AmayaWebsite</a>
    <h3>This website</h3>
    <h3>Made with : Ruby On Rails 6</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/ClassCreator">ClassCreator</a>
    <h3>Generate project base for C++ with any level of inheritance</h3>
    <h3>Language : C++</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/ClassCreatorBaby">ClassCreatorBaby</a>
    <h3>Generate project base for C++, recommended version for beginers in C++</h3>
    <h3>Language : C++</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/ClassCreatorBasic">ClassCreatorBasic</a>
    <h3>Generate basic project base for C++</h3>
    <h3>Language : C++</h3>
    </a>
  </div>

  <div>
    <br/><br/>
    <a href="https://github.com/AmayaHena/Waifu">Waifu</a>
    <h3>This is a little website to promote artists i like, click on the girl to go on the website</h3>
    <h3>Made with : Ruby On Rails 6</h3>
    <a href="https://waifupics.herokuapp.com/">
      <img class=".imgcenter" src="https://cdn.discordapp.com/attachments/644106345397747713/644118745593282570/output-onlinepngtools.png">
    </a>
  </div>

</body>

<footer>
  <br/><br/>
  <div class="main" id="section2">
    <a href="#section1" class="button2">Top</a>
  </div>
</footer>