<header>
  <a>This page is about my professional life</a>
  <br/>
  <br/>
  <div>
    <img class=".imgcenter" src="https://cdn.discordapp.com/attachments/644106345397747713/645390984770748438/TW1586048.png">
  </div>
  <br/>
</header>

<body>
    <div>
        <a>Professional competenties</a>
        <h4>Programing Languages</h4>
        <h2>C | C++</h2>
        <h4>Engine</h4>
        <h2>SFML</h2>
        <h4>Others</h4>
        <h2>git | Github</h2>
        <h4>Languages</h4>
        <h2>French | English</h2>
        <h4>Programing Languages currently learning</h4>
        <h2>C# | Ruby | ASM | Q#</h2>
    </div>

    <div>
        <br/><br/>
        <a>Career Path</a>
        <h4>Baccalauréat Scientifical specialized in Physics and Chemistry</h4>
        <h4>Currently student at <a href="https://international.epitech.eu/">Epitech</a></h4>
        <h4>I mainly code in C and C++, but I love to discover new language and do project with</h4>
    </div>
</body>

<footer>
  <br/><br/>
  <div class="main" id="section2">
    <a href="#section1" class="button2">Top</a>
  </div>
  <br>
</footer>