<header>
    <a>This page is about myself</a>
</header>

<body>

    <div>
    <br/>
        <img class=".imgcenter" src="https://cdn.discordapp.com/attachments/644106345397747713/644898625385922571/c5c2d0a229ed16c22f48263b7e118cbc.png">
    </div>

    <div>
        <br/><br/>
        <a>Hobbies</a>
        <h4>Drawing | Coding | Music | Video Games | Quantum Physics | Sciences</h4>
    </div>

    <div>
        <h4><a>Video Games</a></h4>
        <h2>I played at semi-professional level on <a href="https://playoverwatch.com/fr-fr/">Overwatch</a></h2>
        <h2>With this game, I had to learn how to work with a team and staff</h2>
        <h2>I also learned how to lead a serious project and focus on an objective</h2>
    </div>

    <div>
        <h4><a>Drawing</a></h4>
        <h2>Since my parents are both graphic designers, I draw since my childhood</h2>
        <h2>I did a lot of academic art to learn the movement and the body constitution</h2>
    </div>

</body>

<footer>
  <br/><br/>
  <div class="main" id="section2">
    <a href="#section1" class="button2">Top</a>
  </div>
  <br>
</footer>